<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.0.xsd">
    <!--加入过滤的配置是为了使mybatis的事务起作用-->
    <context:component-scan base-package="Service" />
     <!--扫描bean-->
    <context:component-scan base-package="Dao"/>
    <context:annotation-config />
    <!-- 引入jdbc配置文件 -->    
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">    
        <property name="locations">    
            <list>    
                <value>classpath:jdbc.properties</value>    
            </list>    
        </property>    
    </bean> 
	<!-- 配置数据源 使用dbcp连接池-->  
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"  destroy-method="close">  
		<property name="url"> 
			<value>${jdbc.url}</value> 
		</property>  
		<property name="driverClassName" value="${jdbc.driverClass}"/>  
		<property name="username">  
			<value>${jdbc.username}</value>  
		</property>  
		<property name="password">  
			<value>${jdbc.password}</value>  
		</property>
		<!--initialSize: 初始化连接-->    
		<property name="initialSize" value="25"/>
		<property name="maxTotal" value="20"/>
		<property name="maxIdle" value="5"/>
	</bean>
	<!-- session工厂 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
		<property name="dataSource" ref="dataSource" />  
		<property name="configLocation" value="classpath:Mybatis-Config.xml"></property> 
		<!-- 自动扫描mapping.xml文件 -->
        <property name="mapperLocations">
        	<list>
				<value>classpath:Dao/*.xml</value>
			</list>
        </property> 
	</bean>  
	<!-- 进行主数据库的事务配置，采用默认策略 -->
    <bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    <!--json转换器-->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list >
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean> 
	<!--Dao config-->
	<bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">  
		<property name="mapperInterface" value="Dao.UserDao"></property>  
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
	</bean>
	<bean id="invoiceDao" class="org.mybatis.spring.mapper.MapperFactoryBean">  
		<property name="mapperInterface" value="Dao.InvoiceDao"></property>  
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
	</bean> 
	<bean id="invoiceItemDao" class="org.mybatis.spring.mapper.MapperFactoryBean">  
		<property name="mapperInterface" value="Dao.InvoiceItemDao"></property>  
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
	</bean> 
	<bean id="supplierDao" class="org.mybatis.spring.mapper.MapperFactoryBean">  
		<property name="mapperInterface" value="Dao.SupplierDao"></property>  
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
	</bean>  
	<!--Service config-->
	<bean id="userService" class="Service.UserService" scope="singleton">
	</bean>
	 <bean id="invoiceService" class="Service.InvoiceService" scope="singleton">
	</bean>
	<bean id="supplierService" class="Service.SupplierService" scope="singleton">
	</bean>  
</beans>