<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        ">                    

    <!-- scan the package and the sub package -->
    <context:component-scan base-package="Controller"/>
	<context:component-scan base-package="Test"/>
    <!-- don't handle the static resource -->
    <mvc:default-servlet-handler />

    <!-- if you use annotation you must configure following setting -->
    <mvc:annotation-driven />
    
    <!-- configure the InternalResourceViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" 
            id="internalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="" />
        <!-- 后缀 -->
        <property name="suffix" value="" />
    </bean>
    <!--配置拦截器-->
    <mvc:interceptors>
    	<!--login-->
    	<mvc:interceptor>  
        	<mvc:mapping path="/user/**"/>
        	<mvc:mapping path="/invoice/**"/>
        	<mvc:mapping path="/supplier/**"/>
        	<!-- 需排除拦截的地址 -->
   			<mvc:exclude-mapping path="/user/noNeedLogin/**"/>
          	<bean class="Common.Interceptor.UserLoginInterceptor">
          	</bean>  
    	</mvc:interceptor>
    	<!--super user--> 
    	<mvc:interceptor>  
           <mvc:mapping path="/user/super/**"/>
           <mvc:mapping path="/invoice/super/**"/>
           <mvc:mapping path="/supplier/super/**"/>  
           <bean class="Common.Interceptor.SuperUserInterceptor" />  
        </mvc:interceptor>
        <!--staff user-->
        <mvc:interceptor>  
           <mvc:mapping path="/invoice/staff/**"/>
           <bean class="Common.Interceptor.StaffInterceptor" />  
        </mvc:interceptor>
        <!--auditing user-->
        <mvc:interceptor>  
           <mvc:mapping path="/invoice/auditing/**"/>
           <bean class="Common.Interceptor.AuditingInterceptor" />  
        </mvc:interceptor>
        <!--finance user-->
        <mvc:interceptor>  
           <mvc:mapping path="/invoice/finance/**"/>
           <bean class="Common.Interceptor.FinanceInterceptor" />  
        </mvc:interceptor>  
    </mvc:interceptors>
    <!--配置跨域-->
   <mvc:cors>  
       <mvc:mapping path="/**" allowed-origins="*" allow-credentials="true" max-age="3000" allowed-methods="GET,POST,OPTIONS"/>  
   </mvc:cors>  
</beans>